
.ccs_view {
	font-family: Monaco, "Courier New";
}

.ccs_step {
	text-decoration: none;
	color: #e79f1c;
}

.ccs_toggle_process {
	text-decoration: none;
	color: #86B600;
	margin-right: 6px;
	padding-bottom: 14px;
	font-size: 18px;
}



a.disabled {
	color: inherit;
	cursor: default;
}