
.ccs_view {
	font-family: Monaco, "Courier New";
	font-size: 13px;
}

.ccs_step {
	text-decoration: none;
	color: #e79f1c;
}

.ccs_input {
	width: 20px;
}

.ccs_toggle_process {
	text-decoration: none;
	color: #86B600;
	margin-right: 6px;
	font-size: 18px;
}

.ccs_badge {
	color: red;
	margin-left: 4px;
	vertical-align: top;
	font-size: 11px;
}



a.disabled {
	color: inherit;
	cursor: default;
}